@page "/"
@using RaidLoop.Client.Services
@inject IProfileApiClient Profiles
@inject IGameActionApiClient Actions
@inject SupabaseAuthService AuthService

<PageTitle>RaidLoop</PageTitle>

<style>
    .rarity-sellonly { color: #808080; }
    .rarity-common { color: #ffffff; }
    .rarity-uncommon { color: #1eff00; }
    .rarity-rare { color: #0070dd; }
    .rarity-epic { color: #ffd100; }
    .rarity-legendary { color: #ff8000; }
</style>

@if (_isLoading)
{
    <p>Loading profiles...</p>
}
else if (!_inRaid)
{
    <section class="panel">
        <h2>Preparing for Raid</h2>
        <p>If your stash is wiped, you still get a knife run.</p>
        <p><strong>Money:</strong> $@_money | <strong>Storage:</strong> @_mainGame.Stash.Count/@MainStashCap</p>
        <div class="grid-two">
            <LoadoutPanel OnPersonItems="_onPersonItems" CanStashItem="CanStashOnPersonItem" CanStartRaid="CanStartMainRaid" RaidBlockReason="@RaidBlockReason" CanSellItem="CanSellItem" GetSellPrice="GetSellPrice" IsSlotType="IsSlotType" OnEquip="EquipOnPersonItemAsync" OnUnequip="UnequipOnPersonItemAsync" OnStore="StashOnPersonItemAsync" OnSell="SellOnPersonItemAsync" OnStartRaid="StartMainRaidAsync" />
            <StashPanel Items="_mainGame.Stash" GetPrimaryActionLabel="GetStashPrimaryActionLabel" CanSellItem="CanSellItem" GetSellPrice="GetSellPrice" OnMoveToLoadout="MoveStashToOnPersonAsync" OnSell="SellStashItemAsync" />
        </div>
    </section>
    <ShopPanel Stock="_shopStock" Money="_money" GetBuyPrice="GetBuyPrice" OnBuy="BuyFromShopAsync" />
    <PreRaidPanel RandomCharacter="_randomCharacter" IsRandomCharacterReady="IsRandomCharacterReady" CanStartLuckRunRaid="CanStartLuckRunRaid" LuckRunBlockReason="@LuckRunBlockReason" RandomCooldownText="@GetRandomCooldownText()" IsStashFull="@(_mainGame.Stash.Count >= MainStashCap)" CanSellItem="CanSellItem" GetSellPrice="GetSellPrice" OnStartLuckRun="StartRandomRaidAsync" OnStoreLuckRunItem="StoreLuckRunItemAsync" OnMoveToForRaid="MoveLuckRunItemToForRaidAsync" OnSellLuckRunItem="SellLuckRunItemAsync" />
    @if (!string.IsNullOrWhiteSpace(_resultMessage))
    {
        <p class="status">@_resultMessage</p>
    }
}
else
{
    <RaidHUD Raid="_raid!" MaxHealth="MaxHealth" AmmoHudText="@GetAmmoHudText()" WeaponMalfunction="_weaponMalfunction" Medkits="CurrentMedkits" LootSlots="GetLootSlotCount()" ExtractProgress="_extractProgress" ExtractRequired="ExtractRequired" EncounterType="_encounterType" EncounterTitle="@GetEncounterTitle()" EncounterDescription="@_encounterDescription" EnemyName="@_enemyName" EnemyHealth="_enemyHealth" LootContainer="@_lootContainer" DiscoveredLoot="CurrentDiscoveredLoot" CarriedLoot="CurrentCarriedLoot" EquippedItems="GetEquippedItems().ToList()" LogEntries="_log.TakeLast(8).ToList()" AwaitingDecision="_awaitingDecision" CanAttack="CanAttack" CanBurstFire="CanBurstFire" CanUseMedkit="CanUseMedkit" CanLootItem="CanLootItem" CanEquipItem="CanEquipItem" OnAttack="AttackAsync" OnBurstFire="BurstFireAsync" OnReload="ReloadAsync" OnFlee="FleeAsync" OnUseMedkit="UseMedkitAsync" OnTakeLoot="TakeLootAsync" OnDropCarried="DropCarriedAsync" OnDropEquipped="DropEquippedAsync" OnEquipFromDiscovered="EquipFromDiscoveredAsync" OnEquipFromCarried="EquipFromCarriedAsync" OnAttemptExtract="AttemptExtractAsync" OnContinueSearching="ContinueSearching" OnMoveTowardExtract="MoveTowardExtract" />
}
